body{
  margin: auto;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #d84c73;
  background-color: #fcf5ee;
}

hr {
  border-style: dotted none none;
  border-color: #ffc4d0;
  width: 100px;
  border-width: 10px;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #ffc4d0;
  font-size: 4rem;
  font-weight: bold;
}

h2{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 0 300px 0 300px;
}


h3{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.mountain-image{
  width: 100%;
}

.cloud-1-image{
  width: 40%;
  position: absolute;
  right: 600px;
  top: 0;
  margin: auto;
}

.cloud-2-image{
  width: 40%;
  position: absolute;
  left: 600px;
  top: 0;
  margin: auto;
}

.profile{
  text-align: justify;
  padding: 300px;
  line-height: 200%;
}

.profile-picture{
  border-radius: 100%;
  width: 25%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-1{
  background-color: #fcf5ee;
  padding-top: 150px;
  position: relative;
  margin: auto;
  width: 30%;
}

.container-2{
  position: relative;
  background-color: white;
  margin: auto;
}

.skills-image{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills{
  margin: auto;
}

.skill-row{
  text-align: justify;
  padding: 0 300px 150px 300px;
  line-height: 200%;
}

.container-3{
  position: relative;
  background-color: white;
  padding-bottom: 150px;
  padding-top: 150px;
  margin: auto;
}

.container-4{
  position: relative;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: auto;
}

.container-5{
  position: relative;
  background-color: #fcf5ee;
  padding: 50px 300px 50px 300px;
}

.touch-screen{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact{
    text-align: justify;
    line-height: 200%;
    padding: 0 300px 0 300px;
  }

.butn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Montserrat;
  color: #fcf5ee;
  font-size: 20px;
  background: #f18a9b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover{
  background: #ffc4d0;
  background-image: -webkit-linear-gradient(top, #ffc4d0, #ffc4d0);
  background-image: -moz-linear-gradient(top, #ffc4d0, #ffc4d0);
  background-image: -ms-linear-gradient(top, #ffc4d0, #ffc4d0);
  background-image: -o-linear-gradient(top, #ffc4d0, #ffc4d0);
  background-image: linear-gradient(to bottom, #ffc4d0, #ffc4d0);
  text-decoration: none;
}

.butn{
  position: absolute;
  left: 635px;
}

.links{
  color: #d84c73;
  text-decoration: none;
}

.links:hover{
  color: #951555;
}

.footer-link{
  color: #f18a9b;
  font-size: 70%;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.copyright{
  color:#f18a9b;
  font-size: 50%;
  margin: 10px 20px;
}
